# Flutter SDK & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.dart_snapshot
flutter_*.png
.pub-cache/
.pub/
pubspec.lock

# Android
gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/
*.ap_
*.apk
*.aab
/android/app/debug/
/android/app/profile/
/android/app/release/

# Generated XML & Resource files
/android/app/src/main/res/values/strings.xml
*.g.dart
*.freezed.dart
/android/.gradle/
/android/local.properties
/android/key.properties

# iOS
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/Generated.xcconfig
/ios/.symlinks/
/ios/Pods/
/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# Keystore & Secrets
key.properties
**/*.keystore
**/*.jks
*.env
.env.*
google-services.json
GoogleService-Info.plist

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store